<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link type="text/css"
        rel="stylesheet"
        href="/css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" />
    </head>
<body>

<h1>Add Book</h1>

<form th:action="@{/save}" th:object="${book}" method="post">

    <input type="hidden" th:field="*{id}" />
    Author: <input type="text" th:field="*{author}" /><br><br>
    Title: <input type="text" th:field="*{title}" /><br><br>
    ISBN: <input type="text" th:field="*{isbn}" /><br><br>
    Year: <input type="number" th:field="*{publicationYear}" /><br><br>
    <select th:field="*{category}">
        <option th:each="cat : ${categories}"
                th:value="${cat.categoryId}"
                th:text="${cat.name}">
            </option>
    </select>

    <button type="submit" class="btn btn-success">Save</button>
</form>
    
</body>
</html>