<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css"
          rel="stylesheet"
          href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

<div class="container mt-4">

    <h1>Customer List</h1>

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>

        <tr th:each="customer : ${customers}">
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.email}"></td>

            <td>
                <a th:href="@{/deletecustomer/{id}(id=${customer.id})}"
                    class="btn btn-danger btn-sm">Delete</button></a>

                <a th:href="@{/editcustomer/{id}(id=${customer.id})}"
                   class="btn btn-primary btn-sm">Edit</a>

            </td>
        </tr>
    </table>

    <a th:href="@{/addcustomer}" class="btn btn-success">
        Add Customer
    </a>

</div>

</body>
</html>